[Desktop Entry]
Name=Project-Builder 
Comment=Developer tool for creating mobile Linux device stacks
Exec=%%EXEC_CMD%% 
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=false
Icon=/usr/share/pdk/pixmaps/project-builder-32x32.xpm
