Source: project-builder
Section: devel
Priority: extra
Maintainer: Rusty Lynch <rusty.lynch@intel.com>
Build-Depends: debhelper (>= 5), debootstrap, dh_pysupport 
Standards-Version: 3.7.2

Package: project-builder
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Project Builder
 The project-builder utility enables developers to build full mobile or single
 purposed Linux stacks using a mainstream distribution.

